# Database Web API
# @author Marco Cesarato <cesarato.developer@gmail.com>
# @copyright Copyright (c) 2018
# @license http://opensource.org/licenses/gpl-3.0.html GNU Public License
# @link https://github.com/marcocesarato/Database-Web-API

<IfModule mod_rewrite.c>

	RewriteEngine On
    Options +FollowSymlinks
    Options +SymLinksIfOwnerMatch
    Options -MultiViews

	RewriteBase /

	RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
	RewriteRule ^.*$ - [E=CWD:%2]

	# Deny some methods
    RewriteCond %{REQUEST_METHOD} ^(TRACE|OPTIONS)
    RewriteRule .* – [L,F]

    RewriteRule .*\.(htaccess|git|svn|docs|hg).* %{ENV:CWD}index.php [L,QSA] # Deny access repo folder
    RewriteRule ^(hooks|plugins|logs|screenshot|screenshots|screens|docs|documentation|clients)/((.*)\.php)?$ %{ENV:CWD}index.php [L,QSA] # Fobidden

	#db + table + column + value
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# No auth
	RewriteRule ([^/]+)/([^/]+)/([^/]+)/([^/]+)\.([a-zA-Z]{3,4})$  %{ENV:CWD}index.php?db=$1&table=$2&where[$3]=$4&format=$5 [L,QSA]

	#db + limit + table
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# No auth
	RewriteRule ([^/]+)/([0-9]|[1-8][0-9]|9[0-9]|100)/([^/]+)\.([a-zA-Z]{3,4})$  %{ENV:CWD}index.php?db=$1&limit=$2&table=$3&format=$4 [L,QSA]

	#db + docs + table
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ([^/]+)/docs/([^/]+)\.([a-zA-Z]{3,4})$ %{ENV:CWD}index.php?db=$1&table=$2&format=$3&docs=true [L,QSA]

	#db + table + #id
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# No auth
	RewriteRule ([^/]+)/([^/]+)/([^/]+)\.([a-zA-Z]{3,4})$  %{ENV:CWD}index.php?db=$1&table=$2&id=$3&format=$4 [L,QSA]

	#db + table
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# No auth
	RewriteRule ([^/]+)/([^/]+)\.([a-zA-Z]{3,4})$  %{ENV:CWD}index.php?&db=$1&table=$2&format=$3 [L,QSA]

	#db for POST REQUEST
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# No auth
	RewriteRule ([^/]+)\.([a-zA-Z]{3,4})$  %{ENV:CWD}index.php?db=$1&format=$2 [L,QSA]

	#all else
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . %{ENV:CWD}index.php [L,QSA]

</IfModule>

# File protection
<Files ~ "^(config|config\.(.*))\.php">
    Order Allow,Deny
    Deny from all
</Files>
<Files ~ "^(composer)\.json">
    Order Allow,Deny
    Deny from all
</Files>
<Files ~ "^.*\.([Hh][Tt][Aa])">
    Order Allow,Deny
    Deny from all
    Satisfy all
</Files>
<Files ~ "\.sqlite$">
	Order Allow,Deny
	Deny from All
</Files>
<FilesMatch "\.(log|md|backup|bak|bk|old|o|zip|tar|gz|rar)$">
    Order Allow,Deny
    Deny from All
</FilesMatch>